{% block footer %}
    <footer>
        <div class="container">
            <div class="float-left">
                &copy; 2017 - yURLer
            </div>
            <div class="float-right">

            </div>
        </div>
    </footer>
{% endblock %}
