{% block info %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="text-center">
                    <span class="fa-stack fa-4x ">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-link fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Punkt XX</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <span class="fa-stack fa-4x ">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Punkt XX</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center">
                    <span class="fa-stack fa-4x ">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h3>Punkt XX</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
